
/*:root {
    --fnjs-string-color: #ff0;
    --fnjs-string-width: 2px;
}*/

body {
    font-family: sans-serif;
}

h2 {
    margin: 1.5em 0 0 0;
}

.page {
    position: relative;
    /*--fnjs-fretboard-height: 200px;*/
}

.pentatonic .root-major {
    --fnjs-note-bg-color: hsl(14, 100%, 40%);
}

@media only screen {
    body {
        background-color: #ddd;
    }

    .page {
        padding: 25px;
        margin: 20px auto;
        max-width: 800px;
        background-color: #fff;
        box-shadow: 5px 5px 20px #888888;
    }
}