
/*:root {
    --fnjs-string-color: #ff0;
    --fnjs-string-width: 2px;
}*/

.page {
    position: relative;
    /*--fnjs-fretboard-height: 200px;*/
}

@media only screen {
    body {
        background-color: #ddd;
    }

    .page {
        padding: 25px;
        margin: 20px auto;
        max-width: 800px;
        background-color: #fff;
        box-shadow: 5px 5px 20px #888888;
    }
}