


:root {
    --string-color: #aaa;
    --string-width: 4px;
}

.page {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}


.fretboard {
    height: 120px;
    border-left: 10px solid var(--string-color);
    border-right: 5px solid var(--string-color);
}

.string {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: calc(-1 * var(--string-width) / 2);
    border-bottom: var(--string-width) solid var(--string-color);
    width: 100%;
}

.string2 { top: 20% }
.string3 { top: 40% }
.string4 { top: 60% }
.string5 { top: 80% }
.string6 { top: 100% }

.fret {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc(-1 * var(--string-width) / 2);
    border-right: var(--string-width) solid var(--string-color);
    height: 100%;
}

.fret1 { left: 5%; }
.fret2 { left: 10%; }
.fret3 { left: 15%; }
.fret4 { left: 20%; }
.fret5 { left: 25%; }
.fret6 { left: 30%; }
.fret7 { left: 35%; }
.fret8 { left: 40%; }
.fret9 { left: 45%; }
.fret10 { left: 50%; }
.fret11 { left: 55%; }
.fret12 { left: 60%; }
.fret13 { left: 65%; }